[submodule "fd"]
	path = fd
	url = https://github.com/h2oche/fd.git
[submodule "tarpaulin"]
	path = tarpaulin
	url = https://github.com/xd009642/tarpaulin.git
[submodule "itertools"]
	path = itertools
	url = https://github.com/rust-itertools/itertools.git
[submodule "toml-rs"]
	path = toml-rs
	url = https://github.com/alexcrichton/toml-rs.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/rust-lang/rustlings
[submodule "regex"]
	path = regex
	url = https://github.com/rust-lang/regex.git
