html, body {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

h1 {
text-align: center;
margin-top: 50px;
margin-bottom: 0;
}

h2 {
text-align: center;
margin-top: 0;
}

.container {
text-align: center;
}

.parent {
background: #D0E4F5;
font-weight: bold;
text-align: center;
margin: auto;
margin-top: 50px;
margin-bottom: 20px;
padding: 5px;
width: 15%;
display: inline-block;
}

.item {
margin-bottom: 20px;
text-align: center;
padding: 5px;
width: 15%;
display: inline-block;
}